html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
    position: relative;
}
footer {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0; 
}
#nav {
    line-height:70px;
    background-color:#eeeeee;
    height:auto;
    width:250px;
    float:left;
    padding:5px; 
}

